.tile {
  margin: 2px;
}

.tile--input {
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  background-color: #070707;
  border: 1px solid #555;
  color: white;
  caret-color: transparent;
}

.tile--input--focused {
  border: 1px solid white;
}

.tile--green {
  background-color: green;
}

.tile--yellow {
  background-color: yellow;
}
