.letter {
  display: inline-block;
  margin: 16px 12px;
  background-color: #070707;
  color: #aaa;
  font-size: 24px;
  text-align: center;
  padding: 24px 16px;
  width: 30px;
}

.letter--green {
  background-color: green;
}

.letter--yellow {
  background-color: yellow;
}
