.letter {
  display: inline-block;
  margin: 16px 12px;
  background-color: #030303;
  color: #aaa;
  font-size: 24px;
  text-align: center;
  padding: 24px 16px;
  width: 30px;
}

.letter--green {
  background-color: #18d318;
  color: black;
}

.letter--yellow {
  background-color: #e3bc00;
  color: black;
}

.letter--gray {
  background-color: #0b0b0b;
  color: #444;
  filter: blur(3px);
}
